<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webapidoc for <%= @data["title"] %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="in-depth WebAPI documentation for <%= @data["title"] %>">
  <meta name="author" content="the nice guys from <%= @data["title"] %>">

  <!-- SVG version of grayscale filter: desaturate.svg -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <filter id="grayscale">
      <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
            0.3333 0.3333 0.3333 0 0
            0.3333 0.3333 0.3333 0 0
            0  0  0  1 0"/>
    </filter>
  </svg>

  <!-- Le styles -->
  <link href="./css/webapidoc.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="./js/html5.js"></script>
  <![endif]-->

  <!-- Les javascripts -->
  <script src="./js/jquery.js"></script>
  <script src="./js/highlight.js"></script>
  <script src="./js/lodash.min.js"></script>

  <!-- Ace Code Editor -->
  <% if @data["host"].present? %>
      <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <% end %>

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>

<div class="container">
  <div class="row">
    <div class="four columns" id="nav">
      <div class="title">
        <%= @data["title"] %>
      </div>
      <div class="description">
        <%= @data["description"] %>
      </div>
      <ul class="nav-list">

        <% @sections.each do |section| %>
            <li class="nav-item level<%= section[:level] %>">
              <a href="./<%= section[:file] %>.html#<%= section[:anchor] %>"><%= section[:title] %></a>
            </li>
        <% end %>

      </ul>
      <p class="version">
        Last update: <%= Date.today.strftime("%e. %B %Y ") %>
      </p>
    </div>
    <!--/span-->
    <div class="sixteen columns" id="content">
      <%= @html %>

      <footer>
        <p>&copy; <%= @data["title"] %> 2013</p>
      </footer>

    </div>
    <!--/span-->
  </div>
  <!--/row-->


</div>

<!-- enable script highlighting -->
<script>
    $(document).ready(function () {

        <% if @data["host"].present? %>
        $("#content > pre > code").each(function (idx) {


            var $editor = $(this);
            var id = "editor" + idx;
            var height = $editor.height();
            var noResponse = false;

            $editor.attr("id", id)

            /* check for skipping live query? */
            if ($editor.text().indexOf("#SKIPQUERY") >= 0) {
                $editor.html($editor.html().replace("#SKIPQUERY",""))
                noResponse = true;
            }

            /* build editor */
            var editor = ace.edit(id);
            editor.setTheme("ace/theme/tomorrow");
            editor.getSession().setMode("ace/mode/javascript");

            $editor.css("height", ((height + 8) + "px"));

            if (noResponse == true)
                return;

            /* build response field */
            var rid = "response" + idx;
            var $response = $('<pre><code><a href="">Hier klicken</a> oder Code ändern für Live-Query... </code></pre>').attr("id", rid).addClass("response");

            $editor.after($response);

            var getResponse = function (e) {
                var query = editor.getValue();
                var url = "<%= @data['host'] %>/<%= @data['params'] %>";

                /* give some visual feedback */
                $response.addClass("loading");

                $.getJSON(url + '&source=' + encodeURIComponent(query)).complete(function (data) {
                    $response.html("<code>" + data.responseText + "</code>");
                    hljs.highlightBlock($response[0]);

                    $response.removeClass("loading");
                });

                return false;
            };

            var getResponseDebounced = _.debounce(getResponse, 300);

            /* bind editor change function for api requests */
            editor.on("change", getResponseDebounced);

            $response.find("a").click(function (e) {


                // make sure to stop click event here
                e.preventDefault();

                // get the response
                if ($response.hasClass("loading")) {
                    // do not request while waiting for server
                } else {
                    getResponse();
                }

                return false;

            });
        })
        <% end %>


        <% if @data["juvia"].present? %>

        var $current = null;

        function makeQueryString(options) {
            var key, params = [];
            for (key in options) {
                params.push(encodeURIComponent(key) + '=' + encodeURIComponent(options[key]));
            }
            return params.join('&');
        }

        function makeApiUrl(options) {
            // Makes sure that each call generates a unique URL, otherwise
            // the browser may not actually perform the request.
            if (!('_juviaRequestCounter' in window)) {
                window._juviaRequestCounter = 0;
            }

            var result = '<%= @data['juvia'] %>/api/show_topic.js' + '?_c=' + window._juviaRequestCounter + '&' + makeQueryString(options);
            window._juviaRequestCounter++;
            return result;
        }

        $("#content > h3").each(function (idx) {
        //$("#content > h2").each(function (idx) {

            $current = $(this);

            if($current){
                var cid = "topic_" + $current.attr("id")
                var $topic = $('<div></div>').attr("id", cid).addClass("topic");

                var options = {
                    container   : "#" + cid,
                    site_key    : '<%= @data['juvia_key'] %>',
                    topic_key   : location.pathname + "#" + $current.attr("id"),
                    topic_url   : location.origin + location.pathname + "#" + $current.attr("id"),
                    topic_title : $current.text(),
                    include_base: !window.Juvia,
                    include_css : !window.Juvia
                };

                $current.nextAll().each(function() {
                    if(jQuery.inArray(this.tagName, ['H1','H2','H3','FOOTER']) > -1 ){
                    //if(jQuery.inArray(this.tagName, ['H1','H2','FOOTER']) > -1 ){
                        $topic.insertBefore($(this));

                        var $link = $('<a href="">Fragen zu ' + $current.text() + '?</a>').addClass("feedback");

                        $link.bind("click.feedback", function(ev){

                            var s       = document.createElement('script');
                            s.async     = true;
                            s.type      = 'text/javascript';
                            s.className = 'juvia';
                            s.src       = makeApiUrl(options);
                            (document.getElementsByTagName('body')[0]).appendChild(s);

                            console.log("=====");
                            console.log(location.pathname + "#" + $current.attr("id"));
                            console.log(location.origin + location.pathname + "#" + $current.attr("id"));
                            console.log($current.text());

                            ev.preventDefault();
                            $link.unbind("click.feedback");
                            $link.bind("click.loading", function(ev){ev.preventDefault();});
                            $link.html("Lade...").addClass("loading");
                            $topic.addClass("extended");
                        });

                        $link.appendTo($topic);

                        return false; // stop execution
                    }
                });

            }

        });

        <% end %>

    });

</script>

</body>
</html>
