<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webapidoc for <%= @data["title"] %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="in-depth WebAPI documentation for <%= @data["title"] %>">
  <meta name="author" content="the nice guys from <%= @data["title"] %>">

  <!-- SVG version of grayscale filter: desaturate.svg -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <filter id="grayscale">
      <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
            0.3333 0.3333 0.3333 0 0
            0.3333 0.3333 0.3333 0 0
            0  0  0  1 0"/>
    </filter>
  </svg>

  <!-- Le styles -->
  <link href="./css/webapidoc.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="./js/html5.js"></script>
  <![endif]-->

  <!-- Les javascripts -->
  <script src="./js/jquery.js"></script>
  <script src="./js/highlight.js"></script>
  <script src="./js/lodash.min.js"></script>

  <!-- Ace Code Editor -->
  <% if @data["url"].present? %>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <% end %>

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>

<div class="container">
  <div class="row">
    <div class="five columns" id="nav">
      <div class="title">
        <%= @data["title"] %>
      </div>
      <div class="description">
        <%= @data["description"] %>
      </div>
      <ul class="nav-list">

        <% @sections.each do |section| %>
            <li class="nav-item level<%= section[:level] %>" >
              <a href="./<%= section[:file]%>.html#<%= section[:anchor]%>"><%= section[:title] %></a>
            </li>
        <% end %>

      </ul>
      <p class="version">
        Last update: <%= Date.today.strftime("%e. %B %Y ") %>
      </p>
    </div>
    <!--/span-->
    <div class="fifteen columns" id="content">
      <%= @html %>

      <footer>
        <p>&copy; <%= @data["title"] %> 2012</p>
      </footer>

    </div>
    <!--/span-->
  </div>
  <!--/row-->


</div>

  <!-- enable script highlighting -->
  <script>
    $(document).ready(function() {


      <% if @data["url"].present? %>
        $("#content > pre > code").each( function (idx) {
          var $editor = $(this);
          var id = "editor" + idx;
          var height = $editor.height();

          $editor.attr("id", id)

          /* build editor */
          var editor = ace.edit(id);
          editor.setTheme("ace/theme/tomorrow");
          editor.getSession().setMode("ace/mode/javascript");

          $editor.css("height", ((height+8) + "px"));

          /* build response field */
          var rid = "response" + idx;
          var $response = $('<pre><code><a href="">click here</a> or change code to see response... </code></pre>').attr("id", rid).addClass("response");

          $editor.after($response);

          var getResponse = function(e) {
            var query = editor.getValue();
            var url = "<%= @data['url'] %>";

            $.getJSON(url + '&source=' + encodeURIComponent(query)).complete(function (data) {
              $response.html("<code>" + data.responseText + "</code>");
              hljs.highlightBlock($response[0]);
            });

            return false;
          };

           var getResponseDebounced = _.debounce(getResponse, 300);

          /* bind editor change function for api requests */
          editor.on("change", getResponseDebounced);

          $response.find("a").click(function(e){

              // make sure to stop click event here
              e.preventDefault();

              // get the response
              getResponse();

              return false;

          });
        })
      <% end %>
    });

  </script>

</body>
</html>
